<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cart/Wishlist Settings</title>
        <title lang="de-DE">Warenkorb/Wunschliste Einstellungen</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="int">
            <name>ictCartWishlistDecay</name>
            <label>Cart/Wishlist Decay time (Hours)</label>
            <label lang="de-DE">Warenkorb/Wunschliste Abklingdauer (Stunden)</label>
            <placeholder>24</placeholder>
            <defaultValue>24</defaultValue>
        </input-field>
        <input-field type="int">
            <name>ictCartWishlistTrash</name>
            <label>Cart/Wishlist Trash time (Hours)</label>
            <label lang="de-DE">Warenkorb/Wunschliste Müllzeit (Stunden)</label>
            <placeholder>24</placeholder>
            <defaultValue>24</defaultValue>
        </input-field>
        <input-field type="int">
            <name>limitedStockAlert</name>
            <label>Limited Stock Alert</label>
            <label lang="de-DE">Alarm für begrenzte Lagerbestände</label>
        </input-field>
        <input-field type="bool">
            <name>wishlistNotification</name>
            <label>Wishlist Notification</label>
            <label lang="de-DE">Wunschliste Benachrichtigung</label>
        </input-field>
    </card>

</config>
